*{
    margin: 0;
    padding: 0;
}

p{
    color : rgb(248, 248, 248)
}
.center {
    width: 100%;
    height: 400px;

}

.banner {
    @extend %display-banner;
}

@media screen and (max-width:720px){
    .center {
    
        display: none;
    }
}

.menu{
    background-color:rgb(235, 55, 55) ;
}
    


.link1 {
    
    background-color: rgb(235, 55, 55);
    padding: 6px 110px;
    color: rgb(247, 247, 247);
    border: solid 2px rgb(0, 0, 0);
    border-radius: 6px;
    text-decoration: none;
}



h1 {
    
    color: white;
    font-size: 60px;
    padding : 25px;
}


.slide {
    margin-top: 40px;
    width: 50%;
    
    
}

@media screen and (max-width:720px) {
    .slide {
        width: 85%;
        margin:10%;
    }
}    

.slide img {
    height: 35vh;
}
    

.slide2 {
    margin-top: 40px;
    width: 30%;
    margin: 10px 30%;
    
    
}


@media screen and (max-width:720px) {
    .slide2 {
        width: 85%;
        margin:10px 10%;
    }
}    

h2 {
    color :red;
    font-size: 35px;
    padding : 0px 5px 25px;

}

footer {
    color :white;
    font-size: 25px;
    padding:25px;
}

.contacto {
    background-color: rgb(230, 82, 82);
    color: white;
    font-size: 25px;
    padding : 30px;
    


}

.contacto2 {   background-color: rgb(230, 82, 82);
    color: white;
    font-size: 25px;
    padding: 3px 3px 3px 3px;
    
    
}


body {

    background-color: black;
}

.marcas {
    font-size: 25px;
    display: block;
}

p{
    font-size: 25px;
}

h3 {
    color :red;
    font-size: 35px;
    padding : 10px 5px 25px;
}

h4 {
    color :red;
    font-size: 35px;
    padding : 10px 5px 25px;
}

.productos {
    color: rgb(182, 170, 194);
    display: block;
    
}

.tituloprod{
    color: white;
    font-size: 50px;
    padding : 25px;
    
}

.pagos {
    color: white;
    font-size: 30px;
    padding : 25px;
}

h5 {
    color: white;
    font-size: 30px;
    padding : 25px;
}

.transicion :hover {
    transform: translateX(40px);
}

@media screen and (max-width:720px) {
    .transicion :hover {
        transform: translateX(0px);
    }
}

.transicion1 {
    
    transition: all 1.5s ease-in;


}

.transicion2 {
    transition: all 1.5s ease-in-out;
}

.color-a {
  
    background-color: rgb(235, 55, 55);
    padding: 6px 80px;
    color: rgb(247, 247, 247);
    border: solid 2px rgb(0, 0, 0);
    border-radius: 6px;
    text-decoration: none;
}



.nav-item :hover{
    color: rgb(5, 5, 5);
}

.animaciontitulo :hover {
    animation: cambioDeTamaño 4s;
}

@keyframes cambioDeTamaño {
    10% {
        font-size: 65px;
        color:brown;
    }
    30% {
        font-size: 60px;
        color: white;
        
    }
    60% {
        font-size: 65px;
        color: brown;
    }
    90% {
        font-size: 60px;
        color: white;
    }
}

@media screen and (max-width:720px) {
    .animaciontitulo :hover {
        animation: cambioDeTamaño; 
    }
    @keyframes cambioDeTamaño {
        
     0% {font-size: 60px;
            color: white;
        }
}
}

ul li {
    @extend %li1
}

h6 {
    color :red;
    font-size: 35px;
    padding : 10px 5px 25px;
}